<div class="slider container mx-auto">
  <div class="lg:mx-52 xl:mx-52 2xl:mx-52">
    <div class="grid grid-cols-12 gap-x-2">
      <div class="col-span-2">
        <button class="py-2 px-8 text-base font-light">Trending Now</button>
      </div>
      <div class="col-span-10"></div>
      <div class="col-span-12 lg:col-span-6 xl:col-span-6 2xl:col-span-6 mt-2">
        <div class="relative">
          <img
            class="w-full"
            src="../../../../assets/image/banner/h104-696x464.jpg"
            alt=""
          />
          <div class="bottom-0 absolute px-6">
            <button class="bg-blue-400 text-xs px-2 text-white rounded">
              fashion
            </button>
            <p class="text-3xl text-white font-light">
              News Magazine Charts the Most Chic and Fashionable Women of Dhaka
              city
            </p>
            <p class="text-white font-light text-xs py-2">
              Riaz al mahmud - <span>Octobar 7, 2022</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-6 xl:col-span-6 2xl:col-span-6 mt-2">
        <div class="relative">
          <img
            class="h-52 w-full"
            src="../../../../assets/image/banner/28-696x368.jpg"
            alt=""
          />
          <div class="bottom-0 absolute px-6">
            <button class="bg-blue-400 text-xs px-2 text-white rounded">
              game
            </button>
            <p
              class="text-2xl text-white font-light pb-6 lg:w-3/4 xl:w-3/4 2xl:w-3/4 text-left"
            >
              Game Changing Virtual Reality Console Hits the Market
            </p>
          </div>
        </div>
        <div class="grid grid-cols-12 gap-x-2 pt-2">
          <div class="col-span-6 lg:col-span-6 xl:col-span-6 2xl:col-span-6">
            <div class="relative">
              <img
                class="w-full h-40"
                src="../../../../assets/image/banner/54-1-696x405.jpg"
                alt=""
              />
              <div class="bottom-0 absolute px-6">
                <button class="bg-blue-400 text-xs px-2 text-white rounded">
                  game
                </button>
                <p
                  class="text-base text-white font-light pb-2 lg:w-3/4 xl:w-3/4 2xl:w-3/4 text-left"
                >
                  Game Changing Virtual Reality Console Hits the Market
                </p>
              </div>
            </div>
          </div>
          <div class="col-span-6 lg:col-span-6 xl:col-span-6 2xl:col-span-6">
            <div class="relative">
              <img
                class="w-full h-40"
                src="../../../../assets/image/banner/girl2.jpg"
                alt=""
              />
              <div class="bottom-0 absolute px-6">
                <button class="bg-blue-400 text-xs px-2 text-white rounded">
                  game
                </button>
                <p
                  class="text-base text-white font-light pb-2 lg:w-3/4 xl:w-3/4 2xl:w-3/4 text-left"
                >
                  Game Changing Virtual Reality Console Hits the Market
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
