<nav
  class="relative w-full flex flex-wrap items-center justify-between py-4 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 navbar navbar-expand-lg navbar-light"
>
  <div class="container mx-auto">
    <div
      class="flex flex-wrap items-center justify-between lg:mx-44 xl:mx-44 2xl:mx-52"
    >
      <button
        class="navbar-toggler text-gray-500 border-0 hover:shadow-none hover:no-underline py-2 px-2.5 bg-transparent focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="bars"
          class="fa fa-bars"
        ></i>
      </button>
      <div
        class="collapse navbar-collapse flex-grow items-center"
        id="navbarSupportedContent"
      >
        <a
          class="flex items-center text-blue-600 text-2xl font-light -mt-2"
          href="#"
        >
          <span class="news text-5xl">N</span>
          <span class="mt-2">oa</span>
        </a>
        <i class="fa fa-newspaper-o text-blue-600"></i>
        <!-- Left links -->
        <ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto">
          <li class="nav-item p-2">
            <a
              class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0"
              href="#"
              >Home</a
            >
          </li>
          <li class="nav-item p-2">
            <a
              class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0"
              href="#"
              >About</a
            >
          </li>
          <li class="nav-item p-2">
            <a
              class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0"
              href="#"
              >National</a
            >
          </li>
          <li class="nav-item p-2">
            <a
              class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0"
              href="#"
              >Interational</a
            >
          </li>
          <li class="nav-item p-2">
            <a
              class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0"
              href="#"
              >Games</a
            >
          </li>
          <li class="nav-item p-2">
            <a
              class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0"
              href="#"
              >Busness</a
            >
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="flex items-center gap-x-8 relative">
        <li class="list-none">Audio</li>
        <li class="list-none"><i class="fa fa-search"></i></li>
        <li class="list-none bg-blue-500 px-3 text-white rounded">Login</li>
      </div>
      <!-- Right elements -->
    </div>
  </div>
</nav>
