<div class="container mx-auto mt-8">
  <div class="lg:mx-52 xl:mx-52 2xl:mx-52">
    <div class="grid grid-cols-12 gap-x-14">
      <div class="col-span-12 lg:col-span-8 xl:col-span-8 2xl:col-span-8">
        <div class="flex justify-between border-b-2 border-yellow-400">
          <div class="w-40">
            <button
              class="bg-yellow-300 text-black font-light text-base rounded py-1 px-6"
            >
              Don't Miss
            </button>
          </div>
          <div class="w-full bg-gray-50 pt-2">
            <ul class="flex justify-end flex-wrap gap-x-4 px-4">
              <li>
                <a [routerLink]="['']" routerLinkActive="router-link-active"
                  >all</a
                >
              </li>
              <li>
                <a [routerLink]="['']" routerLinkActive="router-link-active"
                  >Style Hunter</a
                >
              </li>
              <li>
                <a [routerLink]="['']" routerLinkActive="router-link-active"
                  >Vogue</a
                >
              </li>
              <li>
                <a [routerLink]="['']" routerLinkActive="router-link-active"
                  >Health & Fitness</a
                >
              </li>
              <li>
                <a [routerLink]="['']" routerLinkActive="router-link-active"
                  >Travel</a
                >
              </li>
              <li>
                <a [routerLink]="['']" routerLinkActive="router-link-active"
                  >Gadget</a
                >
              </li>
              <li class="dropdown-menu-design">
                <div class="dropdown inline-block relative">
                  <a
                    class="inline-flex items-center hover:bg-yellow-400 hover:py-4 hover:px-4"
                  >
                    <span class="mr-1">More</span>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                    <li class="">
                      <a
                        class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                        href="#"
                        >One</a
                      >
                    </li>
                    <li class="">
                      <a
                        class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                        href="#"
                        >Two</a
                      >
                    </li>
                    <li class="">
                      <a
                        class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                        href="#"
                        >Two</a
                      >
                    </li>
                    <li class="">
                      <a
                        class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                        href="#"
                        >Two</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="grid grid-cols-12 gap-x-2">
          <div class="col-span-6">
            <div class="relative">
              <img
                src="../../../../assets/image/banner/11-485x360.jpg"
                alt=""
              />
              <h1
                class="hover:text-yellow-500 hover:underline font-light text-xl p-0 m-0"
              >
                Top Fashion Trends to Look for in Every Important Collection
              </h1>
              <p class="text-black">Armin Vans <small>August 7, 2019</small></p>
            </div>
          </div>
          <div class="col-span-6"></div>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-4 xl:col-span-4 2xl:col-span-4">
        <div class="flex justify-between border-b-2 border-gray-800">
          <div class="">
            <button
              class="bg-gray-800 text-white font-light text-base rounded py-1 px-6"
            >
              Stay Connected
            </button>
          </div>
          <div class="bg-gray-50 pt-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
